numpy==2.2.6
pandas==2.3.3
scipy==1.15.2
scikit-learn==1.6.0

torch==2.11.0
torch-geometric==2.7.0

mne==1.11.0
mne-connectivity==0.7.0
pyEDFlib==0.1.42
h5py==3.16.0

networkx==3.4.2
matplotlib==3.10.7
seaborn==0.13.2

tqdm
PyYAML==6.0.3
PyWavelets==1.8.0
pycwt==0.3.0a22
